/* ____________ LOGO_________________ */

.logo{
    width:300px;
    height:150px;
    z-index: 4;
    position:absolute;
    top:745px;
    background-image: url("../_img/logo_2.png");
    background-repeat: no-repeat;
    background-size: 250px;
    transition: background-size 0.125s ease-out;
}

.logo:hover{
    background-size: 270px;
}

/* ____________ Begin NAV _________________ */

.navHome{
    width:850px;
	margin: 0 auto;
    padding-top:160px;
    position:absolute;
}

.navPage{
    width:850px;
	margin: 0 auto;
    padding-top:30px;
    position:absolute;
}

 ul{
 	list-style: none;
 	transition: color 0.15s ease;
}

li{
    float:left;
}

li a {
    text-decoration:none;
    display:inline-block;
    vertical-align:top;
    border:2px solid green;
    border-radius: 18px;
    box-shadow: inset 0 0 1px 1px #f7d56e;
    box-shadow: 0 4px 8px -1px black;
    color:#4d1c0a;

    font-size:29px;
    line-height:98%;
    font-family: 'Anton', sans-serif;
    padding: 5px 9px;
    margin: 0px 3px;

    text-align:center;
    background: #d6a30d; /* Old browsers */
    background: -moz-linear-gradient(top, #d6a30d 0%, #c46c01 47%, #804000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #d6a30d 0%,#c46c01 47%,#804000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #d6a30d 0%,#c46c01 47%,#804000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6a30d', endColorstr='#613000',GradientType=0 ); /* IE6-9 */
}

li a:hover{
	color:#71290f;
     border:2px solid red;
     background-color: #c46c01;
}

.selected li a{
    border:2px solid #99cc00;
}
/* ____________ HOME Page_________________ */

.buy{

    width:290px;
    height:160px;

    margin-left:360px;
    background-image: url("../_img/buyNow.png");
    background-repeat: no-repeat;
    background-size: 285px;
    transition: background-size 0.125s ease-out;
}

.buy:hover{
    background-size: 300px;
}

.video{
    /*  background-color: #3e647e;  */
    width:430px;
    height:240px;
    margin-top:240px;
    margin-left:30px;
    box-shadow: 0 4px 8px -1px black;
}

.mudder{
    width:430px;
    height:150px;
    background-image: url("../_img/mudder.png");
    background-repeat: no-repeat;
    background-size: 320px;
    transition: background-size 0.125s ease-out;
}

.mudder:hover{
    background-size: 340px;
}

/* ___________  BIO Page ____________  */

.bioContainer{
    width:850px;
    height:600px;
    border:2px solid red;
    position:absolute;
    top:150px;

}

.bioFlex{
    display:flex;
    justify-content: center;
    align-items: center;
    width:850px;
    height:180px;
    border:2px solid red;

}

.bioCard{
    max-width:200px;
    height:140px;
    margin:10px;
    border-radius:20px;
    background-color: gray;
}
